- title "Article"

%p
  %strong Title:
  = @article.title

%p
  %strong Content:
  %br
  = raw(@article.content)
%p
  = link_to "View All", articles_path
  |
  = @article.user.email

%hr  
%strong Comments
= render :partial => "article_comments/comment", :locals => { :article => @article, :comments => @comments}
