- comments.sort_by {|obj| obj.created_at}.reverse.each do |comment|
  #comment
    = comment.content
    %table
      %tr
        - if authenticate_presenter_or_author(broadcast, comment)
          %td= link_to 'Edit', edit_broadcast_broadcast_playlist_comment_path(broadcast, broadcast_playlist, comment)
          %td= '|'
          %td= link_to "Destroy", broadcast_broadcast_playlist_comment_path(broadcast, broadcast_playlist, comment), :confirm => 'Are you sure?', :method => :delete
          %td= '|'
        %td= comment.created_at
        %td= '|'
        %td= comment.user.email
    
= form_for [ broadcast, broadcast_playlist, broadcast_playlist.comments.new] do |f|
  = f.error_messages
  %p
    = f.label :content
    %br
    = f.text_area :content
  %p
    = f.submit
