- title "Chart"

%p
  %strong Number:
  = @chart.number
%p
  %strong Description:
  = @chart.description
%p
  %strong Date:
  = @chart.date
  

%table
  %tr
    %th Artist
    %th Title
    %th Number of votes
  - @songs.each do |song|
    %tr
      %td=song.artist
      %td=song.title
      %td=song.votes.where(:chart_id => @chart.id).length

%p
  = link_to "Edit", edit_chart_path(@chart)
  |
  = link_to "Destroy", @chart, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", charts_path
