- title "Song"

%p
  %strong Artist:
  = @song.artist
%p
  %strong Title:
  = @song.title
%p
  %strong Is Active:
  = @song.is_active
  
%table
  %tr
    %th Chart
    %th Position
  - @results.each do |result|
    %tr
      %td= result.chart.number
      %td= result.position
