= form_for @broadcast do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.label :is_active
    %br
    = f.check_box :is_active
  %p
    = f.label :day
    %br
    = f.text_field :day
  %p
    = f.label :hour_start
    %br
    = f.time_select :hour_start
  %p
    = f.label :hour_end
    %br
    = f.time_select :hour_end
  %p
    = f.submit
