- title "Broadcast"

%p
  %strong Name:
  = @broadcast.name
%p
  %strong Description:
  = @broadcast.description
%p
  %strong Day:
  = number_to_day_name(@broadcast.day)
%p
  %strong Hour Start:
  = @broadcast.hour_start.hour
  = ':'
  = @broadcast.hour_start.min
%p
  %strong Hour End:
  = @broadcast.hour_end.hour
  = ':'
  = @broadcast.hour_end.min
  
%p
  %strong Presenters:
  %p
    %ul
      - @presenters.each do |presenter|    
        %li= presenter.email

%p
  - if authenticate_presenter
    = link_to "Edit", edit_broadcast_path(@broadcast)
  = link_to "View All", broadcasts_path

%td= link_to "New", new_broadcast_broadcast_playlist_path(@broadcast)

= render :partial => "broadcast_playlists/playlists", :locals => { :broadcast_playlists => @broadcast_playlists, :broadcast => @broadcast }
        
